<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cn"
            connectionString="Data Source=DESKTOP-6IU0SMN\SQLEXPRESS;Initial Catalog=CupcakeShop;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <appSettings>
    <add key="ParentTableName" value="Cupcakes"/>
    <add key="ChildTableName" value="Recipes"/>
    <add key="ChildNumberOfColumns" value="4"/>
    <add key="ChildLabelNames" value="name,description,ingredients,cid"/>
    <add key="ColumnNamesInsertParameters" value="@name,@description,@ingredients,@cid"/>
    <add key="UpdateQuery" value="update Recipes set name=@name, description=@description, ingredients=@ingredients, cid=@cid where rip=@id"/>
    <add key="SelectQuery" value="select * from Recipes"/>
    <add key="SelectParent" value="select * from Cupcakes"/>
    <add key="SelectChild" value="select * from Recipes where cid=@id"/>
    <add key="DeleteChild" value="delete from Recipes where rip=@id"/>
  </appSettings>
</configuration>